<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      <%= current_page.data.title || "Visualization for decision making under uncertainty" %>
    </title>

    <%= stylesheet_link_tag 'site' %>
    <%= javascript_include_tag 'all' %>
  </head>
  <body>
    <header>
      <%= partial "nav" %>
      <div class="banner">
        <%= partial "carousel" %>
        <div class="caption">
          <h1>Visualization for decision making under uncertainty</h1>
          <h2>
            A workshop at the 
            <%= link_to 'IEEE VIS 2015 conference', 'http://ieeevis.org' %>
            on October 26, 2015 in Chicago, IL USA
          </h2>
        </div>
      </div>
    </header>
    <section class="sidebar">
      <div id="vis-logo">
        Located at
        <% link_to 'http://ieeevis.org' do %>
          <%= image_tag '/images/vis2015_logo.png', width: '200px' %>
        <% end %>
      </div>
      <div>
        <h1>Important dates</h1>
        <%= partial "dates" %>
        </ul>
      </div>
      <div>
        <h1>Organizers</h1>
        <ul class="important-list">
          <li><%= link_to 'Kristi Potter', 'http://pages.uoregon.edu/kpotter/index.html' %>: University of Oregon</li>
          <li><%= link_to 'Rüdiger Westermann', 'https://wwwcg.in.tum.de/group/persons/westermann.html' %>: TU München</li>
          <li><%= link_to 'Christoph Heinzl', 'http://research.fh-ooe.at/en/staff/4794' %>: FH - Oberösterreich</li>
          <li><%= link_to 'Mike Kirby', 'http://www.cs.utah.edu/~kirby/' %>: SCI Institute</li>
          <li><%= link_to 'Ross Whitaker', 'http://www.cs.utah.edu/~whitaker/' %>: SCI Institute</li>
          <li><%= link_to 'Eduard Gröller', 'https://www.cg.tuwien.ac.at/staff/EduardGroeller.html' %>: Technische Universität Wien</li>
          <li><%= link_to 'Torsten Möller', 'http://cs.univie.ac.at/vda/team/worker/infpers/torsten_möller' %>: Universität Wien</li>
          <li><%= link_to 'Stefan Bruckner', 'http://www.ii.uib.no/vis/team/bruckner/' %>: University of Bergen</li>
          <li><%= link_to 'Thomas Torsney-Weir', 'http://www.tomtorsneyweir.com' %>: Universität Wien</li>
        </ul>
      </div>
      <div>
        <h1>Contact</h1>
        <%= mail_to 'kpotter@uoregon.edu' %>
      </div>
    </section>
    <section class="main" id="main">
      <%=yield%>
    </section>
    <footer>
      <!-- nothing here yet -->
    </footer>
    <%= google_analytics_universal_tag %>
  </body>
</html>

